* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "glastone";
    src:
      url("glastone-webfont.woff2") format("woff2"),
      url("glastone-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "shalma";
    src: 
        url("shalma-webfont.woff2") format("woff2"),
        url("shalma-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: row;
    min-width: 432px;
}

h1 {
    color: brown;
}

.left {
    width: 30%;
    position: relative;
    font: 0.8em "shalma", sans-serif;
}

.main-image {
    width: 100%;
}

.img-credit {
    position: absolute;
    color: white;
    text-align: center;
    bottom: 5px;
    width: 100%;
  }

.right {
    width: 70%;
}

.logocontainer {
    display: flex;
    flex-direction: row;
    position: absolute;
    color: white;
    text-align: center;
    top: 18%;
    width: 100%;
    background: rgb(128, 128, 128, 0.2);
    justify-content: center;
    align-items: center;
    font-size: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo { 
    width: 20%;
}

.r-text {
    font: 4em "shalma", sans-serif;
    height: 30%;
    background: whitesmoke;
    font-size: larger;
    font-weight: bolder;
    padding-left: 40px;
    padding-right: 80px;
    padding-top: 50px;
}

form {
    display: flex;
    font-size: 1px;
}

.right-form {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    width: 30%;
    padding-bottom: 16px;
}

.left-form {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    width: 30%;

}
form, .form, .right-form, .left-form {
    font-size: 15px;
    font: 0.8em "glastone",
    sans-serif;
    
}

.form {
    padding-left: 40px;
    margin-bottom: 10px;
    padding-top: 15px;
    font-weight: bolder;
    font-size: 20px;
}

input {
    border: 2px solid #d3d3d3;
    padding: 6px;
}
input:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input:invalid {
    border: 2px solid red;
}

.error {
    width: 100%;
    padding: 0;  
    font-size: 80%;
    color: red;  
}
  
  .error.active {
    padding: 0.3em;
  }

.rightfooter {
    padding-top: 20px;
    height: 27%;
    background: whitesmoke;
    padding-left: 40px;
}

button {
    background-color: lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    border: 1px solid lightblue;
    margin-bottom: 25px;
}

button:hover {
    box-shadow: 2px 2px 2px gray;
}

.log-in-link, .log-in-link:visited{
    text-decoration: none;
    color: lightblue;
    font-size: large;
    font-weight: bolder;
}
